form {
    background-color: rgba(191, 236, 179, 0.77);
    height: 50%;
    padding: 30px;
    line-height: 1.5em;
    border: 1px #dddddd solid;
    color: #17524e;
}

form {
    margin: 1px;
    color: #0a4226e0;
    
}


input[type=submit] {
    background-color: #224e4c;
    color: white;
    padding: 10px 20px;
}
