form {
    background-color: white;
    height: 100%;
    padding: 20px;
    line-height: 1.5em;
    border: 1px #dddddd solid;
    color: #2b615e;
}

form {
    margin: 1px;
    color: #777777;
}


input[type=submit] {
    background-color: #224e4c;
    color: white;
    padding: 10px 20px;
}
